.card__caption--icon-burger {
  &::before {
    width: 38px;
    height: 36px;
    top: -5px;
    left: -49px;
    background-image: url("../img/icon/icon-burger.svg");
  }

  @media (min-width: $tablet-min-width) {
    &:before {
      width: 77px;
      height: 68px;
      top: -100px;
      left: calc(50% - 77px / 2);
    }
  }
}
