.advantage__triangle {
  padding: 39px 0 0;
  position: relative;
  z-index: 1;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 57px;
    left: 0;
    background: center / 768px 57px no-repeat;
  }
  &::before {
    top: -57px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
  }
  &::after {
    bottom: -42px;
    background-image: url("../img/bg-triangle.svg");
    z-index: -1;
  }
}
