.hotel__caption {
  display: block;
  margin-bottom: 18px;
  font-size: 21px;
  line-height: 26px;
  color: #000;

  @media (min-width: $tablet-min-width) {
    font-size: 30px;
    line-height: 30px;
  }
}
