.video__controls {
  display: flex;
  width: 280px;
  padding: 23px;
  position: absolute;
  top: 100%;

  background-color: #e5e5e5;

  @media (min-width: $tablet-min-width) {
    width: calc(100% - 120px);
    max-width: 800px;
    padding: 36px 41px 36px 34px;
    top: auto;
    bottom: 0;

    background-color: rgba(0, 0, 0, .6);
    z-index: 0;
  }
}
