.page__video {
  margin-bottom: 105px;
  margin-top: 40px;
  @media (min-width: $tablet-min-width) {
    margin-top: 71px;
    margin-bottom: 42px;
    padding: 0 60px;
  }
  @media (min-width: $desktop-min-width) {
    margin-bottom: 90px;
  }
}
