.photo-card__caption {
  margin: 0;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  @media (min-width: $desktop-min-width) {
    color: #ffffff;
  }
}
