.card__caption--icon-house {
  &::before {
    width: 38px;
    height: 36px;
    top: -8px;
    left: -49px;
    background-image: url("../img/icon/icon-house.svg");
  }

  @media (min-width: $tablet-min-width) {
    &:before{
      width: 75px;
      height: 72px;
      top: -100px;
      left: calc(50% - 75px / 2);
    }
  }
}
