.photo-card__likes {
  margin: 10px 0 0;
  padding: 0 0 0 37px;
  position: relative;

  background: none;
  outline: none;
  border: none;
  &::before {
    content: '';
    display: block;
    width: 22px;
    height: 20px;
    position: absolute;
    left: 0;
    top: -4px;
    background: center url("../img/icon/icon-like.svg#like-dark");
    opacity: .3;
  }

  @media (min-width: $tablet-min-width) {
    margin-top: 0;
    padding-left: 33px;
    align-self: center;
    font-weight: bold;
  }

  @media (min-width: $desktop-min-width) {
    color: #ffffff;
    &:before {
      opacity: 1;
      background-image: url("../img/icon/icon-like.svg#like-light");
    }
  }
}
