.hotel-search {
  display: block;
  width: 600px;
  height: 518px;
  padding: 10px;

  position: absolute;
  bottom: 85px;
  left: calc(50% - 300px);

  background-color: #fff;
  border: 1px solid #000;
}
